@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #fbf9f4;
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Be Vietnam Pro', sans-serif;
}
